@font-face {
    font-family: "Big Shoulders Inline";
    src: url("BigShouldersInline-VariableFont_opsz,wght.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body
{
	background-color: #b7bdc4;
}

h1, .headline {
    color:#2a1ca4;
    font-family: "Big Shoulders Inline";
    font-weight:normal;
    font-size:100px;
    text-align: center;
    margin-bottom: 10px;
    margin-top:10px;
}
h2{
    color:#2a1ca4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top:0px;
    margin-bottom:5px;
}

#repos{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}

#foot{
    background-color: rgb(34, 34, 34);   
    color: rgb(255, 255, 255);           
    padding: 15px 20px;       
    text-align: center;      
    position:relative;        
    bottom: 0;
    left: 0;
    width: 100%;             
    box-shadow: 0 -2px 5px rgba(0,0,0,0.3); 
}
#contact{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
#copyright{
    text-align:center;
    color: rgb(80, 80, 80);
}
#circuitImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#topText{
    padding-top:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
